.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.mt-6 {
  margin-top: 60px;
}

.mt-7 {
  margin-top: 70px;
}

.mt-8 {
  margin-top: 80px;
}

.mt-9 {
  margin-top: 90px;
}

.mt-10 {
  margin-top: 100px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-3 {
  margin-left: 30px;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.mt-150 {
  margin-top: 150px;
}

.text--small {
  color: grey;
  font-size: 14px;
}

.text--normal {
  font-size: 18px;
}

.text--large {
  font-size: 52px;
}

.text--blue {
  color: #00b6e8;
}

.text--center {
  text-align: center;
}

.text--start {
  text-align: start;
}

.text--end {
  text-align: end;
}

@media (max-width: 768px) {
  .text--large {
    font-size: 34px;
  }
  .text--normal {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .text--large {
    font-size: 24px;
  }
  .text--normal {
    font-size: 10px;
  }
  .text--small {
    font-size: 7px;
  }
}

.title--large {
  font-size: 49px;
  font-weight: bold;
}

.title--normal {
  font-size: 28px;
  font-weight: bold;
  margin: 30px 0;
}

.title--small {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .title--large {
    font-size: 28px;
  }
  .title--normal {
    font-size: 20px;
  }
  .title--small {
    font-size: 17px;
  }
}

@media (max-width: 425px) {
  .title_large {
    font-size: 20px;
    margin-top: 50px;
  }
  .title_normal {
    font-size: 15px;
  }
}

.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  border-radius: 30px;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  width: 222px;
  text-transform: uppercase;
}

.button--white {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.button--black {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .button {
    width: 160px;
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .button {
    width: 130px;
    font-size: 10px;
    margin-top: 30px !important;
  }
}

.img--large {
  width: 50%;
  height: 100%;
}

.img--normal {
  width: 160px;
  height: 160px;
}

.img--small {
  width: 100px;
  height: 80px;
}

@media (max-width: 768px) {
  .img--normal {
    width: 100px;
    height: 100px;
  }
  .img--small {
    width: 80px;
    height: 70px;
  }
}

@media (max-width: 425px) {
  .img--large {
    height: 200px;
  }
  .img--normal {
    width: 80px;
    height: 80px;
  }
}

body {
  margin: 0 auto;
  max-width: 1920px;
}

body .wrapper-app {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 0;
}

body .wrapper-app .section-1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .wrapper-app .section-1__watch-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
}

@media (max-width: 425px) {
  body .wrapper-app .section-1 {
    display: block;
    text-align: center;
  }
  body .wrapper-app .section-1__watch-block {
    width: 100%;
  }
}

body .wrapper-app .section-2_wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 60px 0 90px 0;
}

body .wrapper-app .section-2_wrapper .item {
  max-width: 365px;
  text-align: center;
}

body .wrapper-app .section-2_wrapper .wrapper__arrow {
  margin-top: 80px;
}

@media (max-width: 768px) {
  body .wrapper-app .section-2_wrapper .wrapper__arrow {
    margin-top: 47px;
  }
}

@media (max-width: 425px) {
  body .wrapper-app .section-2_wrapper .wrapper__arrow {
    display: none;
  }
  body .wrapper-app .section-2_wrapper {
    display: block;
  }
  body .wrapper-app .section-2_wrapper .item {
    margin-top: 20px;
  }
  body .wrapper-app .section-2 {
    margin: 0;
  }
}

body .wrapper-app .section-3 .wrapper {
  padding: 60px 0;
}

body .wrapper-app .section-3 .wrapper .wrapper_items {
  padding-top: 100px;
}

@media (max-width: 425px) {
  body .wrapper-app .section-3 .wrapper .wrapper_items {
    width: 100%;
  }
  body .wrapper-app .section-3 .wrapper {
    display: block;
  }
}

@media (max-width: 425px) {
  body .wrapper-app .logo {
    width: 100%;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */