.button {
  border-radius: 30px;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  width: 222px;
  text-transform: uppercase;
}
.button_white {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}
.button_black {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  margin-right: 20px;
}

.blue-text {
  color: #00b6e8;
}

.mt-150 {
  margin-top: 150px;
}

.title_large {
  width: 100%;
  text-align: center;
  font-size: 49px;
}
.title_normal {
  width: 100%;
  text-align: center;
  font-size: 28px;
}
.title_small {
  font-size: 24px;
}

.text_small {
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-top: 110px;
}
.text_normal {
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.text_large {
  font-size: 52px;
}

body {
  margin: 0 auto;
  max-width: 1920px;
}
body .wrapper-app {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
}
body .wrapper-app .section-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .wrapper-app .section-1 .section-1__img {
  width: 50%;
  height: 100%;
}
body .wrapper-app .section-1 .watch-block {
  width: 50%;
  box-sizing: border-box;
  padding-left: 20px;
}
body .wrapper-app .section-1 .watch-block .watch-block__text {
  font-size: 52px;
}
body .wrapper-app .section-1 .watch-block .watch-block-buttons {
  margin-top: 75px;
}
body .wrapper-app .section-1 .section-1__text {
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-top: 110px;
}
body .wrapper-app .section-2 .wrapper-item {
  display: flex;
  justify-content: center;
  align-items: center;
}