$colors: (
  black: #000, 
  blue: #00b6e8, 
  white: #fff,
  grey: grey
);
$font-weight: (
  bold: bold,
  regular: 400,
);
.mt-1{
  margin-top: 10px;
}
.mt-2{
  margin-top: 20px;
}
.mt-3{
  margin-top: 30px;
}
.mt-4{
  margin-top: 40px;
}
.mt-5{
  margin-top: 50px;
}
.mt-6{
  margin-top: 60px;
}
.mt-7{
  margin-top: 70px;
}
.mt-8{
  margin-top: 80px;
}
.mt-9{
  margin-top: 90px;
}
.mt-10 {
  margin-top: 100px;
}
.mb-0{
  margin-bottom: 0!important;
}
.ml-3{
  margin-left: 30px;
}
.flex-1{
  flex: 1;
}
.flex-auto{
  flex: auto;
}
.w {
  &-50 {
    width: 50%;
  }
  &-100 {
    width: 100%;
  }
}
.mt-150 {
  margin-top: 150px;
}
.text {
  &--small {
    color: map-get($colors, grey );
    font-size: 14px;
  }
  &--normal {
    font-size: 18px;
  }
  &--large {
    font-size: 52px;
  }
  &--blue {
    color: map-get($colors, blue );
  }
  &--center {
    text-align: center;
  }
  &--start {
    text-align: start;
  }
  &--end {
    text-align: end;
  }
  @media (max-width:768px) {
    &--large {
      font-size: 34px;
    }
    &--normal {
      font-size: 12px;
    }
  }
  @media (max-width:425px) {
    &--large {
      font-size: 24px;
    }
    &--normal {
      font-size: 10px;
    }
    &--small {
      font-size: 7px;
    }
  }
}
.title {
  &--large {
    font-size: 49px;
    font-weight: map-get($font-weight, bold );
  }
  &--normal {
    font-size: 28px;
    font-weight: bold;
    margin: 30px 0;
  }
  &--small {
    font-size: 24px;
    font-weight: map-get($font-weight, bold );
  }
  @media (max-width:768px) {
    &--large {
      font-size: 28px;
    }
    &--normal {
      font-size: 20px;
    }
    &--small {
      font-size: 17px;
    }
  }
  @media (max-width:425px) {
    &_large {
      font-size: 20px;
      margin-top: 50px ;
    }
    &_normal {
      font-size: 15px;
    }
  }
}
.d-f {
  display: flex;
}
.button{
  border-radius: 30px;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  width: 222px;
  text-transform: uppercase;
  &--white{
    background: map-get($colors, white );
    color: map-get($colors, black);
    border: 1px solid map-get($colors, black);
  }
  &--black{
    background-color: map-get($colors, black);
    color: map-get($colors, white );
    border: 1px solid map-get($colors, black);
    margin-right: 20px;
  }
  @media (max-width:768px) {
    width: 160px;
    font-size: 12px;
  }
  @media (max-width:425px) {
    width: 130px;
    font-size: 10px;
    margin-top: 30px !important;
  }
}
.img {
  &--large {
    width: 50%;
    height: 100%;
  }
  &--normal {
    width: 160px;
    height: 160px;
  }
  &--small {
    width: 100px;
    height: 80px;
  }
  @media (max-width:768px) {
    &--normal {
      width: 100px;
      height: 100px;
    }
    &--small {
      width: 80px;
      height: 70px;
    }
  }
  @media (max-width:425px) {
    &--large {
      height: 200px;
    }
    &--normal {
      width: 80px;
      height: 80px;
    }
  }
}
body{
  margin: 0 auto;
  max-width: 1920px;
  .wrapper-app{
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px 0;
    .section-1{
      justify-content: space-between;
      flex-wrap: wrap;
      &__watch-block{
        box-sizing: border-box;
        padding-left: 20px;
      }
      @media (max-width:425px) {
        display: block;
        text-align: center;
        &__watch-block {
          width: 100%;
        }
      }
    }

    .section-2 {
      &_wrapper { 
        align-items: start;
        padding: 60px 0 90px 0;
        .item {
          max-width: 365px;
          text-align: center;
        }
        .wrapper__arrow {
          margin-top: 80px;
      }
      
      }
      @media (max-width:768px) {
        &_wrapper {
          .wrapper__arrow{
          margin-top: 47px;
          }
        }
      }      
      @media (max-width:425px) {
        &_wrapper .wrapper__arrow{
          display: none;
        }
        &_wrapper {
          display: block;
          .item {
            margin-top: 20px;
          }
        }
        &{
          margin: 0;
        }
      }
    }
    .section-3 .wrapper {
      padding: 60px 0;
      .wrapper_items {
        padding-top: 100px;
      }
        @media (max-width:425px) {
          .wrapper_items {
          width: 100%;
        }
        &{
          display: block;
        }
      }
    }
    @media (max-width:425px) {
      .logo{
        width: 100%;
        text-align: center;
      }
    }
  }
}
